<h1>Home Page</h1>

<div style="border: 2px solid black; margin: 1em; padding: 0 1em 1em 1em;">
  <h3>User Actions</h3>
  <% if user_signed_in? %>
    <%= link_to 'Edit Password', edit_password_user_path(current_user), class: 'btn btn-info' %>
    <br>
    <p><b>User: </b><%= current_user.to_json %></p>
    <h4>Identities:</h4>
    <% current_user.identities.each do |i| %>
      <p><%= i.to_json %></p>
    <% end %>

  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-warning' %>
  <% end %>

</div>